.search{
    margin-top: 150px;
    margin-bottom: 200px;
    position: relative;
    z-index: 2;
}
.single-item{
    margin-top: 20px;
}
.Advance-search-title{
    margin-bottom: 20px;
}
.search-content{
    padding: 20px;
}
.search-button{
    width: 100%;
    margin-top: 20px;
}
.mt-10{
    margin-top: 10px;
}
.mb-10{
    margin-bottom: 10px;
}
.member-name{
    width: 100%;

}
.advance-search {
    margin-top: 20px;
}
.age-fitering{
    display: flex;
    margin-top: 20px;


}
.age-fitering .minage input{
    margin-top: 5px;
    font-size:15px;
    width : 90%;

}
.age-fitering .maxage input{
    font-size:15px;
    margin-top: 5px;
    width : 90%;
}
.MARITALSTATUS{
    margin-top: 25px;
}

.profession {
    width: 100%;
}
.age-fitering.height {
    margin-top: 25px;
}
.login-errror{
    margin-left: 60px;
    color: red;

}

.gradient-custom {
    /* fallback for old browsers */
    background: #f093fb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}
.card-registration .select-arrow {
    top: 13px;
}
.forgot-password {
    margin-top: 200px;
    margin-left: 300px;
}
.profession{
    margin-top: 10px;
}

.textarea-contact textarea{
    border-color: #9bdbf8;
}

